  <div class="row">      
      <div class="span12" style="text-align: justify;">
        <h2>Join Us</h2>
        <p>Joining us out on the slope is easy. Take a trip to the ski hut at the Oval Sports Centre during any session and you will find one of our committee members or helpers to talk to. Or get in touch with us using the details below.</p>

        
      </div>
  </div>


      <div class="row">
        <div class="span12"><h2>Membership Fees</h2></div>
        <div class="span3 offset1" >
          <div class="box" id="membershipwell1">
            <h2 class="muted">Student</h2>
            <p><span class="label">Under 18 / University</span></p>
            <ul>
              <li>One Year Membership</li>
              <li>Reduced Price</li>
              <li>Student Events</li>
            </ul>

            <div id="info1"> 
              <br>            
              <p>Our student membership is nice and cheap to help you get the most out of that student budget.</p>
            </div>

            <hr>
            <h3>£10 / year</h3>
          </div>
        </div>

        <div class="span3" >
          <div class="box" id="membershipwell2">
            <h2 class="text-warning">Adult</h2>
            <p><span class="label label-success">MOST POPULAR</span></p>
            <ul>
              <li>One Year Membership</li>
              <li>Bring the family</li>
              <li>Help fund the club</li>
            </ul>
            
            <div id="info2"> 
              <br>      
              <p>The adult membership helps support the club the most. The extra cost helps funds all our events and training.</p>
            </div>

            <hr>
            <h3>£30 / year</h3>
          </div>
        </div>
        <div class="span3" >
          <div class="box" id="membershipwell3">
            <h2 class="text-info">Senior</h2>
            <p><span class="label label-info">Over 60</span></p>
            <ul>
              <li>One Year Membership</li>
              <li>Reduced Price</li>
              <li>Senior Events</li>
            </ul> 

            <div id="info3"> 
              <br>            
              <p>Reduced membership cost for seniors keeps you skiing for longer. You're never too old to join! </p>
            </div>

            <hr>
            <h3>£15 / year</h3>
          </div>
        </div>
      </div>
<!-- End Membership Tag -->


      <div class="row">
        <div class="span12"><h2>Session Fees</h2></div>
        <div class="span3 offset1">
          <div class="box" id="membershipwell4">
            <h2 class="text-warning">Hired Kit</h2>
            <p><span class="label label-success">POPULAR</span></p>
            <ul>
              <li>One Session</li>
              <li>Hired Kit</li>
            </ul>
            <div id="info4"> 
              <br>          
              <p>If you havent got your own kit then you can borrow some from the dry ski slope centre. Rates are very reasonable.</p>
            </div>
            <hr>
            <h3>£5 / session</h3>
            <hr>
          </div>
        </div>
        <div class="span3">
          <div class="box" id="membershipwell5">
            <h2 class="text-info">Personal Kit</h2>
            <p><span class="label label-info">SAVE MONEY</span></p>
            <ul>
              <li>One Session</li>
              <li>With your own kit</li>
            </ul>
            <div id="info5"> 
              <br>          
              <p>If youve got your own kit then youll save money and pay the minimum amount for time on the slope.</p>
            </div>
            <hr>
            <h3>£2 / session</h3>
            <hr>
          </div>
        </div>
      </div>
<!-- End Sessions tab -->
      <div class="row">
        <div class="span12" style="text-align: justify;">
          <h2>Contact Us</h2>
          <p>If you have a question and can’t find an answer on the FAQ page then please send us an email and we’ll deal with it a.s.a.p.</p>

          <address>
            <strong>All Enquiries</strong><br>
            <a href="mailto:#">SkiEnquiries@OvalSkiClub.com</a>
          </address>
          <address>
            <strong>John Wahlers (Chairman)</strong><br>
            0151 645 2452</a>
          </address>
          <address>
            <strong>Belinda Dawson (Secretary)</strong><br>
            0151 342 9756</a>
          </address>
          <address>
            <strong>Oval Leisure Centre</strong><br>
            Old Chester Road,<br>
            Bebington, 
            CH63 7LF<br>
            <abbr title="Phone">P:</abbr> (01516) 062 010
          </address>
          <!-- Button to trigger modal -->
          <a href="#MapModal" role="button" class="btn" data-toggle="modal">Find us on Google Maps</a>

           <!-- Modal -->
          <div class="modal hide fade in" id="MapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="MapModalLabel">Here we are!</h3>
            </div>
            <div class="modal-body">
              <iframe width="520" height="390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;aq=1&amp;oq=oval+sports&amp;sll=52.8382,-2.327815&amp;sspn=10.149213,25.993652&amp;ie=UTF8&amp;hq=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br/>                
            </div>

            <div class="modal-footer">
              <a class="btn" href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;aq=1&amp;oq=oval+sports&amp;sll=52.8382,-2.327815&amp;sspn=10.149213,25.993652&amp;ie=UTF8&amp;hq=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;t=m&amp;z=15&amp;iwloc=A" target="_blank">View in Google &raquo;</a>
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
          </div>

        </div>
      </div>
















        <!--
          <p>Junior Membership: £7.00</p>
          <p>Senior Membership: £15.00</p>
          <p>Junior Membership: £30.00</p>
          <p>(Membership requires renewal at the start of September)</p>

          <h2>Session prices</h2>    
          <p>All Members £5 <span class="label">including hired kit.</span> </p> 
          <p>All Members £2 <span class="label">using your own kit.</span> </p> -->
